<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}" />

    <title>{% block title %}阿鼻叫喚{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-ul">
        <li class="nav-li header">
          <div class="header">
            <i class="bx bx-menu icon"></i>
          </div>
        </li>

        <li class="nav-li">
          <a href="/home" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link-text">Home</span>
          </a>
        </li>

        <li class="nav-li">
          <a href="/spotify" class="nav-link">
            <i class="bx bxl-spotify icon"></i>
            <span class="link-text">Playing</span>
          </a>
        </li>

        <li class="nav-li">
          <a href="/spotify_login" class="nav-link">
            <i class="bx bx-log-in icon"></i>
            <span class="link-text">Login</span>
          </a>
        </li>

        <li class="nav-li">
          <a href="/spotify_logout" class="nav-link">
            <i class="bx bx-log-out icon"></i>
            <span class="link-text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

    <div id="content" name="content" class="main">
      {% block content %} {% endblock %}
    </div>

    <!-- Javascript -->

    {% block scripts %} {% endblock %}

    <script>
      const header = document.querySelector(".header i");
      const navbar = document.querySelector(".navbar");
      const mainEl = document.querySelector(".main");

      header.addEventListener("click", (e) => {
        navbar.classList.toggle("active");
      });

      mainEl.addEventListener("click", (e) => {
        navbar.classList.remove("active");
      });
    </script>
  </body>
</html>
