<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/styles.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar-ul">
        <li class="nav-li header">
          <div class="header">
            <i class="bx bx-menu icon"></i>
          </div>
        </li>

        <li class="nav-li">
          <a href="/home" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link-text">Home</span>
          </a>
        </li>

        <li class="nav-li">
          <a href="/spotify" class="nav-link">
            <i class="bx bxl-spotify icon"></i>
            <span class="link-text">Playing</span>
          </a>
        </li>

        <li class="nav-li">
          <a href="/spotify_login" class="nav-link">
            <i class="bx bx-log-in icon"></i>
            <span class="link-text">Login</span>
          </a>
        </li>

        <li class="nav-li">
          <a href="/spotify_logout" class="nav-link">
            <i class="bx bx-log-out icon"></i>
            <span class="link-text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <div class="container">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum
        eligendi architecto nemo, laborum perferendis praesentium. Odit
        repudiandae dolor porro natus ipsam tempore cumque sint recusandae velit
        sapiente eveniet sunt dolorum assumenda, alias error harum consequatur,
        laboriosam corporis voluptates amet! Quibusdam cupiditate ipsum ducimus
        earum debitis. Ab voluptas sit harum deserunt!

        <!-- <ul>
          <li>dasdasdsa</li>
          <li>dasdasdsa</li>
          <li>dasdasdsa</li>
          <li>dasdasdsa</li>
          <li>dasdasdsa</li>
        </ul> -->
      </div>
    </main>
    <script>
      const header = document.querySelector(".header");
      const navbar = document.querySelector(".navbar");
      const mainEl = document.querySelector("main");

      header.addEventListener("click", (e) => {
        navbar.classList.toggle("active");
      });

      navbar.addEventListener("click", (e) => {
        navbar.classList.add("active");
      });

      mainEl.addEventListener("click", (e) => {
        navbar.classList.remove("active");
      });
    </script>
  </body>
</html>
