<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/main/styles.css" />

    <title>阿鼻叫喚</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="sidebar">
      <!-- <div class="sidebar-container"> -->
      <header class="burger">
        <div class="image">
          <i class="bx bx-menu icon" id="burger"></i>
        </div>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a href="/home">
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Home</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/spotify">
                <i class="bx bxl-spotify icon"></i>
                <span class="text nav-text">Playing</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/spotify_login">
                <i class="bx bx-log-in icon"></i>
                <span class="text nav-text">Login</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="/spotify_logout">
                <i class="bx bx-log-out icon"></i>
                <span class="text nav-text">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" name="content" class="main-content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      eius labore ut possimus, inventore cumque totam dolor ipsa, natus hic nemo
      rem voluptatem reiciendis minus delectus assumenda rerum doloribus
      corrupti! Eos quasi perferendis optio ab soluta aperiam, impedit id itaque
      obcaecati facilis. Aut commodi eaque ipsum ab iste pariatur qui?
    </div>

    <script>
      const body = document.querySelector("body");
    </script>
  </body>
</html>
