{% extends 'main/base.html' %}

{% block title %} Currently Playing {% endblock %}

{% block content %}
    <br>
    <img src="{{album_art}}" alt="home" class="album_art" id="al_art">
    <h2 id="track-title">{{track}}(Track)</h2>
    <h6 id="artist-name">{{artist}}(Artist)</h6>
    <div>
        <button id="play-button"></button> &nbsp;&nbsp; <button id="next-button">»</button>
        <br>
        <button id="pause-loop" onclick="stop();">Pause Infinite Loop</button>
        <button id="resume-loop" onclick="resumeLoop();">Resume Infinite Loop</button>
    </div>

    <br>
    <div id="key-info-container">
        <details open class="definition-field">
            <summary class="definition-title">Reveal/Hide Key</summary>
            <h4 id="key-signature">{{key}}(Key)</h4> <h4 id="music-mode">{{mode}}(Mode)</h4>
            <h6 id="key-confidence">{{key_confidence}} %</h6>
        </details>
    </div>
    <br><br>

    <a href="https://tunebat.com/Search?q={{first_artist}}+{{track_name_for_searching}}" id="tunebat">tunebat</a><br>
    <a href="https://www.notediscover.com/search?q={{first_artist}}+{{track_name_for_searching}}" id="notediscover">notediscover</a><br>
    <a href="https://chordify.net/search/{{first_artist}}+{{track_name_for_searching}}" id="chordify">chordify(requires login)</a><br>
    <a href="https://www.ultimate-guitar.com/search.php?search_type=title&value={{first_artist}}+{{track_name_for_searching}}" id="u-guitar">ultimate guitar</a>

    {% load static %}
    <img src="{% static "main/media/circle_5.jpg" %}" alt="home" class="fifths"/>

{% endblock %}

{% block scripts %}
<script>
    // TODO: JS still fucks up when the track being played is local

    var mainSongTitle = document.getElementById('track-title');
    var artistName = document.getElementById('artist-name');
    var albumArt = document.getElementById('al_art');

    var keySignature = document.getElementById('key-signature');
    var keyConfidence = document.getElementById('key-confidence');
    var musicMode = document.getElementById('music-mode');

    var details = document.querySelector('.definition-field');

    var tuneBat = document.getElementById('tunebat');
    var noteDiscover = document.getElementById('notediscover');
    var chordify = document.getElementById('chordify');
    var ultimateGuitar = document.getElementById('u-guitar');

    var playButton = document.getElementById("play-button");
    var nextButton = document.getElementById('next-button');
    nextButton.addEventListener('click', spotifyNextSong);

    function spotifyNextSong() {
        fetch('http://127.0.0.1:8000/ajax_next_song/')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                playingOrNot2();
            })
            .catch(function (data) {
                console.log('spotifyNextSong ERROR', data);
            })
    };

    // launched at the start of loading the webpage
    // only checks if there's something playing or not, then sets the button name appropriately
    function isSomethingPlayingOrNot() {
       $.ajax({
            type:'GET',
            url: 'http://127.0.0.1:8000/ajax_spotify_track_info/',
            success: function (data) {
                playState = data['is_playing'];
                if (data['is_playing'] == null || data['is_playing'] == false) {
                    playButton.innerHTML = 'Play';
                } else {
                    playButton.innerHTML = 'Pause';
                }
            },
            error: function (data) {
                // this probably means something is already playing, that's why we get
                // spotipy.exceptions.SpotifyException: http status: 403, code:-1
                // Player command failed: Restriction violated, reason: UNKNOWN
                // console.log('error')
                alert(`ERROR, play state: ${data['is_playing']}`);
                playButton.innerHTML = 'Pause';
            }
        })
    };
    isSomethingPlayingOrNot();


    function playingOrNot2 () {
        return  fetch('http://127.0.0.1:8000/ajax_spotify_track_info')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                // console.log(`data: ${data}`)
                var curTrack = data['track'];
                var prevTrack = mainSongTitle.innerHTML.toString();
                if (curTrack !== prevTrack) {
                    // testSongTitle.innerHTML = curTrack;
                    mainSongTitle.innerHTML = curTrack;
                    if (artistName) {
                        artistName.innerHTML = data['artist'];
                    } else {
                        artistName = document.createElement('h6');
                        artistName.setAttribute('id', 'artist-name')
                        artistName.innerHTML = data['artist'];
                    }
                    if (keySignature) {
                        keySignature.innerHTML = data['key'];
                    } else {
                        keySignature = document.createElement('h4');
                        keySignature.setAttribute('id', 'key-signature');
                        keySignature.innerHTML = data['key'];
                    }
                    if (keyConfidence) {
                        keyConfidence.innerHTML = data['key_confidence'];
                    } else {
                        keyConfidence = document.createElement('h6');
                        keyConfidence.setAttribute('id', 'key-confidence');
                        keyConfidence.innerHTML = data['key_confidence'];
                    }
                    if (musicMode) {
                        musicMode.innerHTML = data['mode'];
                    } else {
                        musicMode = document.createElement('h4');
                        musicMode.setAttribute('id', 'music-mode');
                        musicMode.innerHTML = data['mode'];
                    }

                    albumArt.setAttribute('src', data['album_art']);

                    // if (details) {
                        // key = document.createTextNode(keySignature.toString());
                        // mode = document.createTextNode(musicMode.toString());
                        // details.appendChild(key);
                        // details.appendChild(mode);
                        // details.appendChild(keySignature);
                        // details.appendChild(musicMode);
                        // details.appendChild(keyConfidence);
                    // } else {
                    //     console.log('no details, creating one');
                        // details = document.createElement('details');
                        // details.classList.add('definition-field');
                        //
                        // summary = document.createElement('summary');
                        // summary.classList.add('definition-title');
                        //
                        // details.appendChild(summary);
                        //
                        // details.appendChild(keySignature);
                        // details.appendChild(musicMode);
                        // details.appendChild(keyConfidence);
                        //
                        // keyInfoContainer= document.getElementById('key-info-container');
                        // console.log('key info cont: ' ,keyInfoContainer)
                        // keyInfoContainer.appendChild(details);
                    // }

                    tuneBat.setAttribute('href', `https://tunebat.com/Search?q=${data['first_artist']}+${curTrack}`);
                    noteDiscover.setAttribute('href', `https://www.notediscover.com/search?q=${data['first_artist']}+${curTrack}`);
                    chordify.setAttribute('href', `https://chordify.net/search/${data['first_artist']}+${curTrack}`);
                    ultimateGuitar.setAttribute('href', `https://www.ultimate-guitar.com/search.php?search_type=title&value=${data['first_artist']}+${curTrack}`);

                    console.log('track has changed into:', curTrack, 'by ', data['artist'], data['key'], data['key_confidence']);

                    if (data['is_playing'] && data['is_playing'] !== null) {
                        playButton.innerHTML = 'Pause';
                    } else if (data['is_playing'] === true) {
                        playButton.innerHTML = 'Play';
                    }
                }
            })
            .catch(function (data) {
                console.log('playingOrNot2 ERROR IDK', data);
            })
    };


    // https://stackoverflow.com/questions/62841857/how-do-i-stop-a-while-loop-with-a-button-javascript
    var flag = true;

    function stop () {
        flag = false;
        console.log('inf loop has been paused');
    };

    function resumeLoop () {
        flag = true;
        infiniteLoop();
        console.log('inf loop has been RESUMED');
    };

    async function infiniteLoop(evt) {
        var ctr = 0;
        while (flag) {
            await playingOrNot2()
                .then(data => {
                    // curSong = data['track'];
                })
                .catch(function (data) {
                    console.log('error from playingOrNot2 function call');
                });
            await sleep(10000);
            console.log('sleeping zzzz');
        }
    };
    infiniteLoop();


    playButton.addEventListener('click', z)
    function z() {
        if (playButton.innerHTML == 'Play') {
            playButton.innerHTML = 'Pause';
            spotifyPauseOrPlay({'status_to_send_to_sp': 'play'});
        }
        else {
            playButton.innerHTML = 'Play';
            spotifyPauseOrPlay({'status_to_send_to_sp': 'pause'});
        }
    };

    function spotifyPauseOrPlay(requestBody) {
        $.ajax({
            type:'GET',
            url: 'http://127.0.0.1:8000/ajax_pause_play/',
            data: requestBody,
            dataType: 'json'
        })
    };

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

</script>

{% endblock %}