/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
}

body {
  height: 100vh;
}

/* styling of the outermost nav flexbox */
.sidebar {
  width: 90px;
  /* background-color: red; */
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 1st element of main flexbox - BURGER */
.burger {
  font-size: 2.22rem;
  margin: 0.7rem 0;
}

/* 
 * 
 * 
 * middle component of main flexbox 
 */
.menu-bar {
  /* this ensures that this middle flexbox component
  sticks at the top near the burger */
  margin-bottom: auto;
  height: 100%;
}

/* Icons and their text */
.sidebar.close span.nav-text {
  display: none;
}

.nav-text {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

/* styling the main content */
.main-content {
  position: absolute;
  left: 90px;
  margin-left: 1rem;
}
